In [21]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import MinMaxScaler
from collections import Counter
import itertools
%matplotlib inline

In [27]:
data = pd.read_pickle('Top_5_10_25_50_lineups_KNN_154_pool_25.pkl')

In [30]:
data

            Top_5_Avg  Top_10_Avg  Top_25_avg  Top_50_Avg
02/01/2018     286.30     284.000      278.31     275.150
02/02/2018     303.70     290.375      288.17     288.090
02/03/2018     230.85     235.450      230.46     230.310
02/04/2018     284.15     289.150      289.02     286.275
02/05/2018     294.05     285.475      285.75     284.980
02/06/2018     268.40     266.750      270.96     267.260
02/07/2018     308.35     307.600      300.98     299.865
02/08/2018     297.25     297.400      293.73     288.415
02/09/2018     308.65     301.075      299.35     301.145
02/10/2018     282.15     281.575      283.33     280.880
02/11/2018     352.10     347.050      341.90     341.055
02/12/2018     325.65     316.550      307.25     305.400
02/13/2018     312.20     312.200      307.27     307.770
02/14/2018     325.35     317.900      321.82     327.075
02/15/2018     263.35     268.800      266.13     266.205
02/22/2018     360.15     346.300      334.56     335.850
02/23/2018     278.05     280.500      278.85     282.350
02/24/2018     234.25     241.450      246.02     246.795
02/25/2018     270.60     272.650      277.13     281.190
02/26/2018     207.20     214.975      227.08     228.900
02/27/2018     330.70     333.075      330.42     326.520
02/28/2018     289.00     284.450      280.40     282.980
03/01/2018     314.30     320.275      320.74     320.595
03/02/2018     342.55     339.425      338.62     336.320
03/03/2018     284.10     289.750      292.47     293.305
03/04/2018     308.70     313.800      315.80     312.820
03/05/2018     291.20     294.375      295.17     292.490
03/06/2018     286.25     282.100      278.09     275.635
03/07/2018     279.70     290.000      288.72     288.850
03/08/2018     255.90     258.350      262.02     262.450
03/09/2018     291.30     288.700      289.18     290.430
03/10/2018     228.60     225.025      223.13     224.465
03/11/2018     299.60     304.450      309.49     308.950
03/12/2018     279.65     277.750      277.99     276.065
03/13/2018     266.60     265.675      271.53     275.050
03/14/2018     325.45     328.550      328.66     328.590
03/15/2018     287.85     284.300      290.45     290.690
03/16/2018     308.75     306.150      300.83     302.635
03/17/2018     345.25     340.775      340.19     334.280
03/18/2018     319.85     317.300      310.30     307.880
03/19/2018     286.60     295.250      294.71     285.450
03/20/2018     294.00     285.450      276.11     276.805
03/21/2018     298.30     296.775      287.61     288.545
03/22/2018     278.00     275.900      276.35     279.560
03/23/2018     263.10     268.275      273.04     265.840
03/24/2018     280.25     274.325      274.69     273.895
03/25/2018     290.10     291.150      289.86     290.495
03/26/2018     295.20     305.200      300.17     301.620
03/27/2018     272.80     278.725      283.79     280.700
03/28/2018     358.15     352.375      350.04     348.630
03/29/2018     241.65     236.675      239.99     242.585
03/30/2018     345.95     345.100      344.44     341.065
03/31/2018     249.50     248.650      252.65     247.820

In [29]:
data.describe()

        Top_5_Avg  Top_10_Avg  Top_25_avg  Top_50_Avg
count   53.000000   53.000000   53.000000   53.000000
mean   292.106604  291.610377  290.862642  290.169245
std     33.297343   31.392017   29.551138   29.089176
min    207.200000  214.975000  223.130000  224.465000
25%    278.000000  275.900000  276.350000  275.635000
50%    290.100000  289.750000  289.020000  288.415000
75%    308.750000  312.200000  307.270000  307.770000
max    360.150000  352.375000  350.040000  348.630000